.shop-section{
    height: 150px;
    background-color:aliceblue;
    color: aliceblue;
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;

}

.shop1{
    /* display: flex; */
    color: black;
    justify-content: center;
    align-items: center;
  
}
.shop-msg{
    color: black;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:0.85rem ;
    font-weight: 600;
   
}

/* box 3 */


.fashion-slect{
    width:75px ;
    border: none;
    background-color: aliceblue;
    font-weight: 600;
    outline: none;
}

.fashion-slect:hover{
    border: 4px;
    color: blue;
    border-radius: 8px;
}

/* box 4 */

.Electronics-slect{
    width:97px ;
    border: none;
    background-color: aliceblue;
    font-weight: 600;
    outline: none;
}

.Electronics-slect:hover{
    border: 4px;
    color: blue;
    border-radius: 8px;
}

/* Box 5 */

.Furniture-slect{
    width:134px ;
    border: none;
    background-color: aliceblue;
    font-weight: 600;
    outline: none;
}

.Furniture-slect:hover{
    border: 4px;
    color: blue;
    border-radius: 8px;
}



.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
}



